/*
 * Author 	: HIMANSHU GUPTA 
 * Email 		: himanshucse2012@gmail.com
 * Website	:	http://www.indioweb.in/portfolio
 */
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
 
/*
 * Basic CSS starts 
 */

body{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 400;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', Sans Serif;
	font-weight: 600;
}

p{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
	color: #fb6c6c;
}

a:hover{
	text-decoration: none;
	color: #e32b2b;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* 
 * Basic CSS ends 
 */

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #47b2e4;
}

.nav-menu .drop-down ul {
  border-radius: 8px;
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0c3c53;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #47b2e4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}


/*
 * Banner 
 */
 
.banner {
	background: #fff url('../img/back.jpg');
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.banner h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 28px;
	line-height: 35px;
	color: black;
	text-transform: capitalize;
}
.banner h3 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 25px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 0.055em;
}

.banner .btn {
	padding: 7px 25px;
	font-size: 14px;
	border-radius: 30px;
}

/*
 * default heading
 */

.default-heading {
	margin-bottom: 30px;
	text-align: center; 
}
.default-heading h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px; 
}
.default-heading p {
	font-size: 14px;
	line-height: 26px;
	text-transform: capitalize;
	letter-spacing: 0.055em;
}

/*
 * works
 */
 
.works {
	padding-top: 120px;
	padding-bottom: 30px;
}

.works .work-item {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.works .work-item h3 {
	margin-top: 20px;
	font-size: 22px;
}

.works .work-item .org {
	display: block;
	font-size: 13px;
	font-style: italic;
	text-transform: uppercase;
}

/*
 * team
 */
 
.team {
	padding-top: 120px;
	padding-bottom: 30px;
}

.team .member {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.team .member h4 {
	margin-top: 20px;
	font-size: 22px;
}
.team .member p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
}


/*
 * Contact
 */
 
.contact {
	padding-top: 120px;
	padding-bottom: 120px;
}

.contact h3 {
	margin-top: 0px;
	font-size: 20px;
}
.contact p {
	padding: 0 15px;
	font-size: 14px;
	line-height: 23px;
}

footer {
	padding: 50px 0;
	background: grey;
	text-align: center;
}

footer p {
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
footer p a { 
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	color: #fff;
}
footer p a:hover { color: #fb6c6c; }
footer img {
	max-width: 150px !important;
	margin: 15px auto;
	background: #f8f8f8;
	border-radius: 4px;
}

footer .social a {
	display: inline-block;
	margin: 0 2px;
	margin-top: 5px;
	padding: 2px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	font-size: 14px;
	border-radius: 4px;
}

footer .social a  i {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	border-radius: 3px;
	border: 1px dashed #e32b2b;
}

footer .copy-right {
	margin-top: 10px;
}

/*
 * Responsive CSS 
 */

/*
 * Mobile phones 
 */
@media (max-width: 480px){

}

/*
 * Tablets 
 */
@media (max-width: 767px){
	header .navbar-nav .dropdown-menu:after, 
	header .navbar-nav .dropdown-menu:before { display: none;}
	.contact .contact-container {
		max-width: 360px;
		margin: 0 auto;
	}
	.contact .contact-container form{	margin-bottom: 30px;}
	.contact .contact-container .map { margin-top: 30px; }
}

/*
 * Desktop 
 */
@media (max-width: 991px){

}
